* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

#container{
    width: 100%%;
    margin: auto;
    background: #f8c291;
}

header{
    width: 80%;
    margin: auto;
    background: #e55039;
    height: 10em;
}

header div{
    background: #eb2f06;
    width: 80%;
    margin: auto;
    height: 2em;
}

#titre{
    background: #e55039;
}

aside{
    background: #fad390;
}

